* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f3e6f9, #d1c4e9);
}

.calculator {
  padding: 50px;
  background-color: #b0a6d3;
  border-radius: 10px;
  border: 5px solid #483d8b;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  grid-template-areas:
    "AC C % /"
    "7 8 9 *"
    "4 5 6 -"
    "1 2 3 +"
    "0 . =";
}

.btn.zero {
  grid-column: span 2;
}

.btn {
  padding: 20px; /* Increase padding for larger buttons */
  font-size: 1.5rem; /* Increase font size */
  text-align: center;
  border: 5px solid #483d8b;
  background-color: #e6d5e3;
  cursor: pointer;
  border-radius: 10px;
}

.btn:hover {
  background-color: #f3e6f9;
}

.display {
  grid-area: display;
  padding: 10px;
  font-size: 3rem;
  text-align: right;
  border: 5px solid #483d8b;
  background-color: #e6e6fa;
  margin-bottom: 20px;
  border-radius: 10px;
}

.num {
  background-color: #ffb6c1;
}

.AC,
.C {
  background-color: #87cefa;
}

.operator {
  background-color: #afeeee;
}

.operator2 {
  background-color: #FFDAB9;
}

.equalsTo {
  background-color: #98fb98;
}
